@media (max-width:500px) {
    .slider {
        overflow: hidden;
        /* スライダーの幅 */
        margin: auto;
        background-color:#EEEEEE;

    }

    .images-container {
        display: flex;
        /* transition: transform 0s ease-in-out; */
        /* より滑らかな動きに */
        position:absolute;
        top: 65%;
        left: 0;
    }

    .images-container img {
        width: 33%;
        /* 各画像の幅 */
        height: auto;

    }

}